// color variables
$white: #FFFFFF;
$black: #000000;

// opacity functions
@function black($opacity) {
	@return rgba(0,0,0,$opacity)
}
@function white($opacity) {
	@return rgba(255,255,255,$opacity)
}

//grays		
$black-95: #F1F1F1;		// very light gray
$black-90: #ececec;
$black-82: #dcdcdc;
$black-75: #BFBFBF;		// light gray
$black-70: #c2c2c2; 	// ENG 30% black - 160over90 palette
$black-50: #7F7F7F;		// med gray
$black-25: #404040;		// dark gray
$black-15: #262626;		// very dark gray

// blues
$very-light-blue: #E8EFF5;
$light-blue: #ccddeb;
$light-medium-blue: #6c9ac3; // ENG light blue - 160over90 palette
$medium-blue: #336699; // ENG blue - 160over90 palette
$dark-blue 	: #00529b; // UF blue
$very-dark-blue: #243778;

$uf-blue: #0021a5;

$light-teal-blue: #e6faff;
$teal-blue: #99d6ea; // ENG teal blue - 160over90 palette
$dark-teal-blue: #8cbfd2;

// orange, yellow, red
$light-yellow: #FFFF99;
$light-pink: #F0DDDD;
$red: #FF0000;

$light-orange: #FCDFC1;
$med-orange: #e28f41; // ENG orange - 160over90 palette
$orange: #FF4A00; // UF orange
$dark-orange: #B75A29;
$b-orange: #B75A29; // to remove




