/*!
PRIMARY NAVIGATION - MEGAMENU
Built using mega-menu.scss
----------------------------------------------------------------------*/

// import colors
@import '_colors';

// import mixins
@import '_mixins';

#primary-nav li {
	position: initial;
}

#primary-nav li:hover > ul {
	display: block;
}
#primary-nav .children {
	z-index: 99999;
}
#primary-nav .children li {
	border: none;
	background-color: transparent;
}


/* Mega Menu  */

#primary-nav .children {
  background-color: transparent;
  position: initial;
  width: auto;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.sub {
	position: absolute;
	left: 0px;
	display: none;
	text-align: left;
	width: 930px;
	padding: 10px;
	z-index: 100;
	border: 5px solid $white;
	border-top: none;
	top: 40px;
	background-color:$dark-blue;
}

#primary-nav .sub .children {
	display: block;
	text-align: left;
	z-index: 100;
	line-height: 1.1em;
}

.ie7 #primary-nav li {
	min-height: 0; /* fix pesky disappearing list bullets */
	line-height: 1.1em;
}

#primary-nav .sub .children li {
	list-style: none;
	width: 212px;
	float: left;
	padding: 10px;
	margin: 0px;
}

#primary-nav .sub .children li a {
	margin: 0px 0px 2px 0px;
	padding: 9px 30px 7px 7px;
	line-height:1.35em;
	margin-bottom: 4px;
    background: url("../../images/bg-sprite-transparent.png") no-repeat scroll 181px -439px;
	border:1px solid #fff;
}

#primary-nav .sub .children .current_page_item a,
#primary-nav .sub .children li li.current_page_item a {
	background-color: $light-blue;
}

#primary-nav .sub .children .current_page_item a {
	border-bottom-color: $white;
}

#primary-nav .sub .children .current_page_item li a {
	background-color: transparent;
} 

#primary-nav .sub .children .current_page_item li a:hover {
	color: $white;
	cursor: pointer;
	text-decoration: underline;
} 

#primary-nav .sub .children .subchildren li {
	border: none;
}
#primary-nav .sub .children .subchildren a {
	background: transparent url("../../images/bg-sprite-transparent.png") -1204px -565px no-repeat; 
	font-family: $sans, Arial, sans-serif;
	font-size:1.1em;
	text-transform: none;
	letter-spacing:0;
	padding-left: 15px;
}

#primary-nav .sub .children li ul li {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#primary-nav .sub .children li ul li a {
	margin: 0px;
	padding: 3px 3px 3px 0px;
	border: none;
}
