// color variables
$white: #FFFFFF;
$black: #000000;

// opacity functions
@function black($opacity) {
	@return rgba(0,0,0,$opacity)
}
@function white($opacity) {
	@return rgba(255,255,255,$opacity)
}

//grays		
$black-95: #F1F1F1;		// very light gray
$black-75: #BFBFBF;		// light gray
$black-50: #7F7F7F;		// med gray
$black-25: #404040;		// dark gray
$black-15: #262626;		// very dark gray

// blues
$very-light-blue: #E8EFF5;
$light-blue: #ccddeb;
$light-medium-blue: #6698C3;
$medium-blue: #3375AF;
$dark-blue 	: #00539B;
$very-dark-blue: #002A4E;

$light-teal-blue: #D3EEF5;
$teal-blue: #ADE0EE;

// orange, yellow, red
$light-yellow: #FFFF99;
$light-pink: #F0DDDD;
$red: #FF0000;

$light-orange: #FCDFC1;
$med-orange: #F8AE64;
$orange: #F47836;
$dark-orange: #B75A29;
$b-orange: #B75A29; // to remove